@use "./../../styles/_mixin.scss" as *;
@use "./../../styles/_variables.scss" as *;
@use "./../../styles/_functions.scss" as *;

.pic{
    @include vertical-flex;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-size: cover;
    border: 1px solid color("border");


    &img{
        position: absolute;

        &:hover{
            color: color('primary');
        }
    }
}

.choose{
    opacity: 0%;
    position: absolute;
}