@use "./../../styles/_mixin.scss" as *;
@use "./../../styles/_variables.scss" as *;
@use "./../../styles/_functions.scss" as *;

.passwordImputDivDiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    width: 300px;  
    max-width: 350px; 
    margin: 0 8px 10px 8px ; 
    box-sizing: border-box;
}

.passwordInputDiv {
    display: flex;
    background-color: color("bg"); 
    justify-content: center;
    align-items: center;
    border: 1px solid color("lightBorder"); 
    border-radius: 5px; 
    overflow: hidden; 
    width: 100%; 
    box-sizing: border-box; 

    &:focus-within {
        border-color: color("primary"); 
        box-shadow: 0 0px 4px 0 rgba(170, 78, 78, 0.2), 0 0px 10px 0 #00ff33ba; 
    }
}

.passwordInput {
    border: none; 
    padding: 8px; 
    outline: none;
    color: white;
    flex: 1; 
    background-color: color("bg"); 
    box-sizing: border-box; 

    &:focus{
        outline: none; 
        color: color("primary"); 
    }
}

.eye {
    border: none;
    background:none;
    color: white;
    padding: 8px 12px; 
    cursor: pointer;
   
}



label{
    font-weight: 600;
    margin-left: 4px; 
}

.errorDiv{
    height: 10px;
    text-align: left;
    p{
        margin: 0;
        font-size: 0.8rem;
    }
}